{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": 0,
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "comma-dangle": [2, "never"],
    "max-len": ["error", 120],
    "no-console": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react/sort-comp": 0
  }
}
