<!DOCTYPE html>
<html>
  <head>
      <title>React Demo</title>
  </head>
  <body>
    <div id="app"><%= ReactDemo.renderApp() %></div>
    <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>