<!DOCTYPE html>
<html>
  <head>
      <title>React Demo</title>
  </head>
  <body>
    <div id="mount"><%= ReactDemo.renderApp(requestPath, data) %></div>
    <script type="text/javascript">
    window.__INITIAL_STATE__ = <%= json %>;
    </script>
    <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>